.nds-toast{
    display: flex;
    align-content: center;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    &__error{
        background-color: $signal-red;
    }
    &__info{
        background-color: #00B0FF;
    }
    &__success{
        background-color: #1EC759;
    }
}